<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>宿舍管理系统</title>

		<meta name="description" content="Static &amp; Dynamic Tables" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../font-awesome/4.5.0/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="../css/fonts.googleapis.com.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="../css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="../css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="../css/ace-skins.min.css" />
		<link rel="stylesheet" href="../css/ace-rtl.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="../css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="../js/ace-extra.min.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="../js/html5shiv.min.js"></script>
		<script src="../js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="no-skin">
	<div th:replace="~{common/nav::#navbar}"></div>

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div th:replace="~{common/side::#sidebar}"></div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
<!--						导航栏-->
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="@{/admin/adminMain}">首页</a>
							</li>

							<li class="active">宿舍楼管理</li>
						</ul><!-- /.breadcrumb -->

					</div>


						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="hr hr-18 dotted hr-double"></div>


								<div class="hr hr-18 dotted hr-double"></div>

								<div class="row">
									<div class="col-xs-12">

										<div class="clearfix">

										</div>
										<div class="table-header">
											宿舍楼管理
										</div>
										<div th:if="!${session.role  eq '2'}" style="margin-top: 10px;margin-bottom: 10px">

											选择学号查询：
											<input id="search-studentNum" type="text" class="search-actions">
<!--											选择学生姓名查询：-->
<!--											<input id="studname" type="text" class="search-actions">-->
											<button id="search-by-studentNum" onclick="check()" class="btn btn-sm btn-success">搜索</button>


										</div>
<!--										搜索功能实现：-->

										<div>

											<table id="dynamic-table" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th>记录id</th>
														<th>日期</th>
														<th>学号</th>
														<th>学生姓名</th>
														<th>性别</th>
														<th>宿舍楼id</th>
														<th>寝室</th>
														<th>电话</th>
														<th>缺寝情况</th>
														<th>操作</th>
													</tr>
												</thead>

												<tbody>

												<tr  th:each="rec:${recordPageInfo.list}">
													<td><div id="recordid">[[${rec.recordid}]]</div></td>
													<td th:text="${#dates.format(rec.date,'yyyy-MM-dd')}"></td>
													<td>[[${rec.studentnumber}]]</td>
													<td>[[${rec.studentname}]]</td>
													<td>[[${rec.sex}]]</td>
													<td>[[${rec.dormbuildid}]]</td>
													<td>[[${rec.dormname}]]</td>
													<td>[[${rec.tel}]]</td>
													<td>[[${rec.detail}]]</td>

<!--													<a class="blue" href="#">-->
<!--														<i class="ace-icon fa fa-search-plus bigger-130"></i>-->
<!--													</a>-->
<!--													删除键:-->
													<td><a class="red" th:if="!${session.role  eq '2'}"
														   th:href="@{/record/deleteRecord(recordid=${rec.recordid})}">
													<i class="ace-icon fa fa-trash-o bigger-130"></i>
												</a></td>


												</tr>
												</tbody>


											</table>
										</div>
									</div>
									<li style="margin-top: 10px">
										共有<font th:text="${recordPageInfo.total}"></font>条记录&nbsp;
										共有<font th:text="${recordPageInfo.pages}"></font>页
									</li>
									<div style="margin-right: 20px" class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
										<ul class="pagination">
											<li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
												<a th:href="@{/record/deleteRecord(pageIndex=1)}">首页</a>
											</li>
											<li th:if="${recordPageInfo.hasPreviousPage}" class="paginate_button previous " aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
												<a th:href="@{/record/deleteRecord(pageIndex=${recordPageInfo.prePage})}">上一页</a>
											</li>
											<th:block th:each="items:${recordPageInfo.navigatepageNums}" >
												<li th:class="${items==recordPageInfo.pageNum}?'active':''" class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
												<a th:href="@{/record/deleteRecord(pageIndex=${items})}"
													th:text="${items}"></a>
											</li>
											</th:block>

											<li th:if="${recordPageInfo.hasNextPage}" class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
												<a th:href="@{/record/deleteRecord(pageIndex=${recordPageInfo.nextPage})}">下一页</a>
											</li>
										</ul>
									</div>
								</div>
								<!--新增：-->
								<div th:if="!${session.role  eq '2'}" class="col-xs-12 col-sm-4">
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">新增</h4>

											<div class="widget-toolbar">
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

												<a href="#" data-action="close">
													<i class="ace-icon fa fa-times"></i>
												</a>
											</div>
										</div>
										<div class="widget-body" style="display: block;">
											<div class="widget-main">
												<div>
													<form id="formId" class="form-horizontal" th:action="@{/record/insertRecord}" th:method="post">
														<div class="form-group">
															日期：<input id="date1" th:name="date1" type="date" style="margin-left: 10px;margin-top: 10px" >
														</div>
														<div class="form-group">
															学号：<input id="studentnumber" th:name="studentnumber" type="text" style="margin-left: 10px;margin-top: 10px">
														</div>
														<div class="form-group">
															学生姓名：<input id="studentname" th:name="studentname" type="text" style="margin-left: 10px;margin-top: 10px">
														</div>
														<div class="form-group">
															宿舍楼id：<input id="dormbuildid" th:name="dormbuildid" type="text" style="margin-left: 10px;margin-top: 10px">
														</div>
														<div class="form-group">
															寝室：<input id="dormname" th:name="dormname" type="text" style="margin-left: 10px;margin-top: 10px">
														</div>
														<div class="form-group">
															缺寝情况：<input id="detail" th:name="detail" type="text" style="margin-left: 10px;margin-top: 10px">
														</div>

														<button class="btn btn-info" type="button" id="btn" onclick="insert()">
															<i class="ace-icon fa fa-check bigger-110"></i>
															确认提交
														</button>
														<div id="message"></div>
													</form>
												</div>


											</div>
										</div>
									</div>
								</div><!--.新增结束-->

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

	<div th:replace="~{common/foot::#footer}"></div>


		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="../js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="../js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="../js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->
		<script src="../js/jquery.dataTables.min.js"></script>
		<script src="../js/jquery.dataTables.bootstrap.min.js"></script>
		<script src="../js/dataTables.buttons.min.js"></script>
		<script src="../js/buttons.flash.min.js"></script>
		<script src="../js/buttons.html5.min.js"></script>
		<script src="../js/buttons.print.min.js"></script>
		<script src="../js/buttons.colVis.min.js"></script>
		<script src="../js/dataTables.select.min.js"></script>

		<!-- ace scripts -->
		<script src="../js/ace-elements.min.js"></script>
		<script src="../js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			function check(){
				var val = $("#search-studentNum").val();
				location.href="/record/searchByNum?studentnum="+val;
			};


    function insert() {
	if ($("#date1").val()=="") {
			$("#date1").attr("placeholder","日期不能为空")
			return;
		}
		if ($("#studentnumber").val()=="") {
			$("#studentnumber").attr("placeholder","学号不能为空")
			return;
		}
		if ($("#studentname").val()=="") {
			$("#studentname").attr("placeholder","学生姓名不能为空")
			return;
		}

		if ($("#dormbuildid").val()=="") {
			$("#dormbuildid").attr("placeholder","宿舍楼id不能为空")
			return;
		}
		if ($("#dormname").val()=="") {
			$("#dormname").attr("placeholder","寝室不能为空")
			return;
		}
		if ($("#detail").val()=="") {
			$("#detail").attr("placeholder","缺寝情况不能为空")
			return;
		}

	$("#formId").submit();


};
		</script>
	</body>
</html>
